      body {
        color:#CCC;
        background-color: black;
        font-family:Verdana,Arial,Helvetica,sans-serif;
        font-size: 0.8em;
        margin:0;
      }
      a, a:visited {
        text-decoration:none;
        color: yellow;
      }
      a:active, a.active {
        color: red;
      }
      #editor {
        position:absolute;
        z-index: 200;
        display:none;
        background-color: black;
        color: white;
        font-family: Courier, monospace;
      }
      #editor #seed_text {
        display: block;
        background-color: black;
        color: white;
        font-family: Courier, monospace;
    }
      #thumbnails_controls {
        /*margin-bottom: 5px;*/
      }
      .tooltip {
        position:absolute;
        background: #000;
        border: 1px solid yellow;
        color: yellow;
        padding: 5px;
        z-index: 100;
      }

      #canvas {
          float: left
        }
